.pokemons {
    display: grid;
    width: 100%;
    /* background: green; */
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1em;
    /* border: 2px solid white; */
}

@media (min-width: 280px) and (max-width: 480px) {
    .pokemons {
        grid-template-columns: repeat(2,1fr);
    }
}