.App {
  display: flex;
  align-items: center;
  width: 100%;
  /* padding: 1em; */
  height: 100vh;
  background: white;
  justify-content: space-around;
  overflow: none;
  /* border: 1px solid red; */
  padding: .3em
}

.game-container {
  width: 550px;
  min-width: 250px;
  border: 2px solid rgb(238, 236, 236);;
  height: 95vh;
  padding: .5em;
  display: flex;
  flex-direction: column;
  gap: 1.2em
  /* background: yellow */
}
